body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.section1, .footer {
background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 150px;
}

.header1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-left: 150px;
}

.text1 {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 150px;
}

a {
text-decoration: none;
 font-size: 18px;
 color: #e5e7eb;

}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-right: 150px;
}

button, .section4 {
    background-color: #3882f6;
}

.title2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.section3 {
    background-color: #e5e7eb;
    padding: 200px;
    color: #1f2937;
}

.whosaid {
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
}

.maintext3 {
    font-size: 36px;
    font-style: italic;
}

.section4 {
   margin: 100px 200px;
   border-radius: 10px;
   padding: 50px;
   color: #f9faf8;
}

.signup2 {
    color: #f9faf8;
    border-color: #f9faf8;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 36px;
    margin: 10px 150px 30px 100px;
}

.container4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header4 {
    font-size: 24px;
    font-weight: 900;
}

.footer {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
}

img {
    height: 200px;
    width: 200px;
}

.container2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

.text2 {
    max-width: 200px;
}

.section2 {
    margin: 50px 250px 150px 250px;
}